<h1> Moolah Haven </h1>

<% if user_signed_in? %>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>

  <%= button_to "Log in", new_user_session_path, method: :get, class: "btn btn-2" %>
  <%= button_to "Sign up", new_user_registration_path, method: :get, class: "btn btn-3" %>
<% end %>
